/* #progress {
    width: 500px;
    border: 1px solid #aaa;
    height: 20px;
}

#progress .bar {
    background-color: #ccc;
    height: 20px;
} */


/*Progress Bar*/

#upload-progress {
    position: relative;
    height: 20px;
    border: 1px solid #ddd;
    width: 100%;
}

#upload-progress .progress-bar {
    background: #bde1ff;
    width: 0;
    height: 20px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}